<div class="container">
  <br>
  Hello admin!
  You can go to the following sites:
  <br>
  <br>

  <ul class="list-group">
    <li class="list-group-item">
      <%= link_to 'Organizations', organizations_path %><br>
    </li>
      <li class="list-group-item">
        <%= link_to 'Users', users_path %><br>
      </li>
  </ul>
</div>